<%- include("../partials/head.ejs",{title:"Quienes somos"})  %> 
<%- include("../partials/menuHeader.ejs")  %> 
<div class="contGeneral">
    <div class="quienesSomosCont">
        <div class="somosLogo">
            <img src="img/logo_peque침o.png" alt="Logo gugu">
        </div>
        <h3>Tienda GuGu es una empresa familiar que se dedicada a la venta, distribuci칩n
            y difusi칩n de Juguetes Did치cticos.</h3>
    </div>
</div>
<%- include("../partials/footerBase.ejs")  %> 